html, body {
  overflow-x: hidden;
  font-family: var(--font-outfit);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

.form-control:focus,
.form-select:focus {
  border-color: #553500;
  box-shadow: none;
}

::selection {
  background: #553500;
  color: #fff;
}
