.about-section {
    padding: 40px 0px;
    color: #333;
    max-width: 100%;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    color: #7a3d00;
    margin: 0;
}

.section-decor {
    width: 60px;
    height: 50px;
}


.about-text {
    font-family: var(--font-outfit);
    font-size: 18px;
    line-height: 1.6;
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    color: #5a2d00;
}

.highlight {
    color: #BCA72A;
    font-weight: 600;
}

.image-slider {
    position: relative;
    overflow: hidden;
}

.about-image {
    max-width: 90%;
    border-radius: 12px !important;
    margin-left: 20px;
    position: absolute;
    left: 25px;
    top: 0;
    opacity: 0;
    transition: opacity 1s step-start;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.25));
}

.about-image.active {
    opacity: 1;
    position: relative;
}

.about-item {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
    margin-left: 15px;
}

.about-item img {
    align-self: center;
    width: 90px;
    height: auto;
}

.about-item span {
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
    color: #5a2d00;
}

.about-item p {
    font-family: var(--font-outfit);
    font-size: 16px;
    margin: 0;
    color: #5a2d00;
}