.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: var(--font-playfair);
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    color: #7a3d00;
    margin: 0;
}

.section-decor {
    width: 60px;
    height: 50px;
}

.clientreview-image {
    width: 100%;       
    max-width: 400px;  
    height: auto;      
    display: block;
    margin: 0 auto;     
}
