.footer {
  background-color: #388000;
  color: #fff;
  font-family: var(--font-outfit) !important;
  padding: 40px 20px 170px 20px;
  background-image: url("/Images/footer.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer p,
.footer a {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

.footer a {
  text-decoration: none;
}


.footer-email {
  font-family: var(--font-outfit) !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-decoration: underline !important;
  display: inline-block;
}

.footer h5 {
  font-family: var(--font-outfit) !important;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-big-text {
  font-family: var(--font-playfair) !important;
  font-size: 90px !important;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  margin: 10 !important;
  padding: 0 !important;
  display: block;
}

.footer-bottom {
  margin-top: 40px;
  padding: 0 !important;
}