@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Playfair+Display:wght@400;700&display=swap');

.ourworks-section {
    padding: 40px 30px;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 600;
    color: #7a3d00;
    margin: 0;
}

.section-decor {
    width: 60px;
    height: 50px;
}


.ourworks-image-wrapper {
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
}

.ourworks-image {
    width: 100%;
    height: 800;
    border-radius: 20px;
}

.ourworks-text {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #5a2d00;
    margin-top: 12px;
    align-items: left;
    text-align: left;
}